body{
    background-color:#b3f542
}
h1{
    color:cornflowerblue;
    text-align: center;
    font-size: 22px;
}
p{
    color:black;
    text-align: center;
    font-size: 22px;
}
img{
    margin-left: 480px;
    width: 70%;
    margin-right: 880px;
}